.card .image::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .55;
	z-index: -1;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.create {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid red;
	width: 250px;
	padding: 20px;
	margin: 15px;
}